:root {
  --some-color: red;
}

nav {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  padding: 4px 16px;
}

li {
  display: flex;
  padding: 6px 8px;
}

.anchor {
  color: var(--some-color) !important;
  text-decoration: none;
  font-size: 13px;
}
